black==23.1.0
Cython==0.29.33
# kivy-deps.angle==0.3.3    
# kivy-deps.glew==0.3.1    
# kivy-deps.gstreamer==0.3.3    
# kivy-deps.sdl2==0.4.5  
kivymd==1.1.1 
pandas==1.5.3
plyer==2.1.0
pylint==2.16.2
pytest==7.2.1
scikit-learn==1.2.1